@import ./../constants

.form
    display: flex
    flex-direction: column
    justify-content: center
    box-sizing: border-box
    background-color: #000
    color: #ffffff

    @include desktop-only()
        padding-left: 160px

    @include mobile-only()
        padding: 0 20px

    .intro
        font-size: .9rem
        letter-spacing: 3px
        text-transform: uppercase
        margin-bottom: 8px
        @include metrisch()

    .divided
        display: grid
        grid-template-columns: 1fr 1fr
        column-gap: 24px

    .group
        @include desktop-only()
            margin-top: 24px

        @include mobile-only()
            margin-top: 16px

        label
            display: block
            @include metrisch()
            
            @include desktop-only()
                font-size: 1rem
                margin-bottom: 8px

            @include mobile-only()
                font-size: .8rem
        
        input,
        textarea,
        select
            width: 100%
            box-sizing: border-box
            padding: 8px 10px
            font-size: .9rem
            @include zona-pro()

            &:invalid:not(:focus):not(:placeholder-shown)
                border: #f00 solid 2px

        textarea
            resize: none
            
            @include desktop-only()
                height: 90px
            
    .note
        margin-top: 8px
        font-size: .8rem
        letter-spacing: .5px
        @include metrisch()
        
    .submit
        float: right
        margin-top: 8px

        img
            width: 44px

.logo
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
    text-align: center
    background-color: #000

    hr
        max-height: 30vh
        width: 2px
        background-color: #ffffff
        
    video
        margin-top: 60px
        width: 60%

    p
        margin: auto
        font-size: 1rem
        line-height: 1.4
        color: #fff
        @include metrisch()
            