@import ./../constants
@import ./../animations
    
.landscape
    .lettering
        display: grid
        row-gap: 24px
        position: absolute
        top: 0
        text-transform: uppercase
        text-align: center
        color: #ffffff

        @include desktop-only()
            grid-template-rows: auto 32px 12px
            left: 16vw
            height: 40vh

        @include mobile-only()
            grid-template-rows: 20vh auto auto
            width: 160px
            left: 5vw

        hr
            margin: 0 auto
            background-color: #ffffff
            width: 2px
            height: 0
            animation-duration: 2s
        
        h2 
            animation-duration: 2s
            animation-delay: 1s
            @include georgia()

            @include desktop-only()
                font-size: 2rem

            @include mobile-only()
                font-size: 1.2rem
                line-height: 140%

        p
            font-size: .9rem
            animation-duration: 2s
            animation-delay: 2s
            @include zona-pro()
