.musicPlayer
    position: fixed
    top: 64px
    right: 64px
    z-index: 9999

    .switcher
        display: flex
        flex-direction: column
        align-items: center
        overflow: hidden
        width: 32px
        height: 32px
        text-align: center
        cursor: pointer

        img
            max-width: 100%
            max-height: 100%
            transition: transform .8s ease, opacity 1.4s ease

        &[data-active="true"] 
            img
                transform: translateY(0%)

                &:first-child
                    opacity: 1

                &:last-child
                    opacity: 0

        &[data-active="false"] 
            img
                transform: translateY(-100%)

                &:first-child
                    opacity: 0

                &:last-child
                    opacity: 1

    .player
        display: none