@import ./../../constants

.textbox
    display: grid
    grid-template-rows: 2fr auto 1fr
    row-gap: 24px

    @include desktop-only()
        padding-left: 200px
    
        &:last-child
            padding-left: 100px

    @include mobile-only()
        align-items: center
        justify-content: center
        padding: 0 10vw
        box-sizing: border-box
        height: 100%

    hr
        margin-left: 96px
        width: 1px
        background-color: #000000
        animation-duration: 1.2s

    .content
        color: #070707

        h2
            text-transform: uppercase
            font-size: 2rem
            line-height: 1.4
            animation-delay: 1s
            animation-duration: .5s
            @include georgia()

        p
            margin-top: 32px
            font-size: 1rem
            line-height: 1.6
            max-width: 700px
            padding-right: 48px
            box-sizing: border-box
            animation-delay: 1.2s
            animation-duration: .5s
            @include metrisch()

        div
            animation-delay: 1.4s
            animation-duration: .5s
