@mixin georgia()
    font-family: 'Georgia', 'Times New Roman', Times, serif
    font-weight: normal
    
@mixin metrisch()
    font-family: 'Metrisch', Arial, Helvetica, sans-serif
    font-weight: 300
    
@mixin zona-pro()
    font-family: 'Zona Pro', Arial, Helvetica, sans-serif
    font-weight: 100